<!-- Create a form for new books -->
<!-- Action is the url form will go to -->
<!-- Method should be the same as in our route ( POST in this case) -->
<h2 class="page-header">Edit Book</h2>
<form action="/books/<%=book.id%>?method_=PUT" method="POST">
  <!-- we need multiform which can include file - npm multer -->
  <%- include('form_fields') %>
  <div class="form-row form-row-end btn-row">
    <a class="btn btn-danger" href="/books">Cancel</a>
    <button class="btn btn-primary" type="submit">Update</button>
  </div>
</form>
