<h2>Recently Added Books</h2>
<!-- Same from the views  -->
<div>
    <!-- Displaying all the added books -->
    <% books.forEach(book => { %>
    <img height="200" width="100" src=" <%= book.coverImagePath %>">
    <% }) %>
  </div>
  