<h2 class="page-header">Recently Added Books</h2>
<!-- Same from the views  -->
<div>
    <!-- Displaying all the added books -->
    <% books.forEach(book => { %>
    <img height="150" width="150" src="<%= book.coverImagePath %>">
    <% }) %>
  </div>
  