<h2 class="page-header">Edit Author</h2>

<form action="/authors/<%= author.id %>?method_=PUT" method="POST">
    <%- include('form_fields') %>
    <!-- Cancel will send us back to "authors:id" -->
    <div class="form-row form-row-end btn-row">
        <a class="btn btn-primary" href="/authors/<%= author.id %>">Cancel</a>
        <button class="btn btn-danger" type="submit">Update</button>
    </div>
    
</form>