<h2>Edit Author</h2>

<form action="/authors/<%= author.id %>?method_=PUT" method="POST">
    <%- include('form_fields') %>
    <!-- Cancel will send us back to "authors:id" -->
    <a href="/authors/<%= author.id %>">Cancel</a>
    <button type="submit">Update</button>
    
</form>