<div class="form-row">
  <div class="form-item">
    <label>Name</label>
    <input type="text" name="name" value="<%=author.name%> required" />
  </div>
</div>
<!-- If we go on new author and we pass the value inside the input
 and hit create , the name will be send to our create route. -->
<!-- we need to install body parser to access the input elements
from our server -->
