<h2>New Author</h2> 

<!-- Create a form for new Authors -->
<!-- Action is the url form will go to -->
<!-- Method should be the same as in our route ( POST in this case) -->
<form action="/authors" method="POST">
    <%- include('form_fields') %>
    <a href="/authors">Cancel</a>
    <!-- Make sure button type is submit  -->
    <button type="submit">Create</button>
</form>